<%- include("../header"); %>
    <div class="col-12">
        <h1>Productos</h1>
        <a href="/productos/agregar" class="btn btn-primary mb-2">Agregar</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Fecha última compra</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <% productos.forEach(producto=> { %>
                    <tr>
                        <td>
                            <%= producto.nombre %>
                        </td>
                        <td>
                            <%= producto.precio %>
                        </td>
                        <td>
                            <%= producto.fecuc %>
                        </td>
                        <td>
                            <a href="/productos/editar/<%= producto.id %>" class="btn btn-warning">
                                Editar
                            </a>
                        </td>
                        <td>
                            <a href="/productos/eliminar/<%= producto.id %>" class="btn btn-danger">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                    <% })%>
            </tbody>
        </table>
    </div>
    <%- include("../footer"); %>